<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="30000">
    <setting label="30021" type="bool" id="api" default="true"/>
    <setting visible="eq(-1,true)" id="username" type="text" label="30023" default=""/>
    <setting visible="eq(-2,true)" id="password" type="text" label="30024" default="" option="hidden"/>
    <setting visible="!eq(-3,true)" id="deviceId" type="text" label="30011" default=""/>
    <setting visible="!eq(-4,true)" id="DOSESSV3PRI" type="text" label="30012" default=""/>
    <setting type="sep" />
    <setting id="debug" type="bool" label="30010" default="false"/>
    <setting type="sep" />
    <setting id="titles_per_page" type="select" label="30500" values="All|12|24|48|60" default="All" />
  </category>
</settings>
